
@{
    ViewData["Title"] = "AutoSelectDemo";
}

@section Links {
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

<h1>AutoSelectDemo</h1>
<div class="ui-widget">
    <label for="campusList">Campus List: </label>
    <input id="campusList">
</div>

<div class="ui-widget">
    <label for="building">Building: </label>
    <input id="building">
</div>


@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        function onSelectBuilding(event, ui) {
            
        }

        function onSelectCampus(event, ui) {
            $.get(`/TopicManager/BuildingList?campus=${ui.item.value}`).then((res) => {                
                let result = JSON.parse(res)

                let arr = []
                for (var i = 0; i < result.length; i++) {
                    arr.push(result[i].Building)
                }

                $("#building").autocomplete({
                    source: arr,
                    select: onSelectBuilding
                });
            })            
        }

        $(document).ready(function () {
            $.get('/TopicManager/CampusList').then((res) => {                
                let result = JSON.parse(res)

                let set = []                
                for (var i = 0; i < result.length; i++) {
                    set.push(result[i].Campus)
                }

                $("#campusList").autocomplete({
                    source: set,
                    select: onSelectCampus
                });
            })
        })
    </script>
}